.cart {
    margin-top: 100px;

}

.cart-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr .5fr;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr .5fr;
    /*  بحدد كل عنصر كم يوخد مساحة عمودية/**/
    align-items: center;
    font-size: grey;
    font-size: max(1vw, 12px);
}

.cart-items {
    margin-bottom: 60px;
}

.cart-items-item {
    margin: 10px 0;
    color: black;
}

.cart-items-title img {
    width: 50px;
}

.cart-items-title hr {
    height: 1px;
    background-color: #e2e2e2;
    width: 100%;

}

.cart .remove {
    cursor: pointer;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: max(12vw, 20px)
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 23px 0;
}

.cart-total-detalis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #555; */
}

.cart-total hr {
    margin: 10px 0;
}

.cart-total button {
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0;
    cursor: pointer;
}

.cart-code p {
    color: #555
}

.cart-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaedea;
    border-radius: 4px;
}

.cart-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.cart-input button {
    width: max (10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
}
@media (max-width:750px){
    .cart-bottom{
        flex-direction:column-reverse

    }
    .cart-code{
        justify-content: center;
    }
}